[init]
	defaultBranch = master
[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
	pager = diff-so-fancy | less --tabs=4 -RF
[push]
	autoSetupRemote = true
	default = current
[alias]
	s = status
	A = add -A
	l = log
	d = diff
	ds = diff --staged
	cleanup = "!git remote prune origin && git fetch --prune"
	cp = cherry-pick
	co = checkout
	cob = checkout -b
	ball = branch --all
	bs = "!bt() { git branch; git branch -r --sort=-committerdate --color=always | head -n 12 | sort;}; bt"
	bD = branch -D
	ci = commit
	cim = commit -m
	puf = push --force-with-lease
	pp = pull --prune
	fp = fetch --prune
	ciamend = commit --amend --no-edit
	cif = commit --fixup
	rb = rebase
	rbi = rebase -i
	rbia = rebase -i --autosquash
	hist = log --pretty=format:\"%C(auto)%h %ad | %s%d [%an]\" --graph --date=short
	histn = !git --no-pager hist -5
	deleteRemote = push origin --delete
	resetAllStaged = git reset --hard HEAD
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged

[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
