[init]
	defaultBranch = master
[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
	pager = diff-so-fancy | less --tabs=4 -RF
[push]
	autoSetupRemote = true
	default = current
[alias]
	s = status
	A = add -A
	l = log
	d = diff
	ds = diff --staged
	co = checkout
	cob = checkout -b
	ball = branch --all
	ci = commit
	cim = commit -m
	puf = push --force-with-lease
	pp = push --prune
	fp = fetch --prune
	ciamend = commit --amend --no-edit
	cif = commit --fixup
	rb = rebase
	rbi = rebase -i
	rbia = rebase -i --autosquash

[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
